body{
	font-family: Gill Sans, sans-serif;
	line-height: 150%;
	text-align: center;
	color:lavender;
	font-size: large; 
}
h1 {
	font-family: Baskerville, serif;
	font-size: 80px;
	line-height:125%;
	text-align: center;
	color: midnightblue;
}
h2 {
	font-family: Gill Sans, sans-serif;
	font-size: xx-large;
	line-height: 125%;
	text-align: center;
	color: midnightblue;
}
strong {
	color: paleturquoise;

}
footer {
	font-size: medium;
	line-height: 125%;
	color: midnightblue;
}
html {
	background-color: lightseagreen;
	margin-top: 60px;
	margin-bottom: 60px;
}