body {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 60px;
	margin-bottom: 60px;
}

h1 {
	font-size: 3em;
	line-height: .5
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: silver;
}
h4{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: silver;

}
section {
	padding-top: 40px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.bigspace {
	letter-spacing: .3em
}
.smallspace {
	letter-spacing: -.06em;
}
.underline {
	text-decoration: underline;
} 
.line-through {
	text-decoration: line-through;
}
.overline {
	text-decoration: overline;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}